<!-- ======= Head Section ======= -->
<section id="hearder" class="d-flex flex-column justify-content-center">
	<div class="container" data-aos="zoom-in" data-aos-delay="100">
		<h1>I'm Axel</h1>
		<p>I'm Developer
			<span class="typed" data-typed-items="Front-End , Back-End"></span>
		</p>
		{# <a href="#contact">Contact</a> #}
		<div class="social-links">
			<a href="#" class="git">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="#" class="facebook">
				<i class="fa-brands fa-gitlab"></i>
			</a>
			<a href="#" class="facebook">
				<i class="fa-brands fa-discord"></i>
			</a>
		</div>
	</div>
</section>
<!-- End Head -->
